<section class="note-actions">
   <button {{action "deleteNote" note}}>Delete Note</button>
</section>

 <div class="titletext">
   {{note.title}}
 </div>

 <div class="bodytext">
   {{note.body}}
 </div>


{{yield}}
