 html, body {
  margin: 0 10px 100px 10px;
  height: 100%;
}

*,:after,:before{
  box-sizing:border-box
}

body {
  background-image: url('/assets/images/bg_woodpanel.jpg');
}

hr{
  width:100%;
}

.section {
  overflow: auto;
}

input, textarea, .input-preview, .textarea-preview {
  display: block;
  width: 100%;
  padding:20px;
  border:3px solid #222;
  background-image: url('/assets/images/paper_texture.jpg');
  font-family: 'Lucida Grande';
  font-size: 11px;
}

.input-preview {
  height: 59px;
}

.right-action {
  float: right;
}

.column-2 {
  width: 47%;
  box-sizing: border-box;
  margin-right: 20px;
  float: left;
}

textarea:focus, input:focus {
  border:1px solid #ff0;
  outline:0;
}

.container{
  max-width:960px;
  margin:0 auto;
}

.note,textarea, .textarea-preview{
  min-height:100px;
}

.notze {
  float: left;
}

.meh, textarea: ; {
  float: left
  min-height: 100px;
  background: red;
}

 .note-preview .note,.note:nth-of-type(even){

}

.note{
  overflow:hidden;
  background:rgba(225,225,225,.05);
  margin-bottom:20px;
  padding:20px;
  background: white;
  border: solid 2px black;
  width: 97%;
}

.note-actions{
  float:right;
}

button{
  background:#222;
  color:#fff;
  padding:5px;
  border:1px solid #fff;
}

.flash_messages-success{
  background:#93DE7F;
  text-align:left;
  padding:5px;
  border-radius:3px;
  float:right
}

.flash_messages-success span{
  display:none;
}

header h1 {
  float:left;
}
